spring.application.name=w1nc3nt

spring.datasource.url=jdbc:mysql://localhost:3306/w1nc3nt
spring.datasource.username=root
spring.datasource.password=password

spring.jpa.show-sql=true
spring.jpa.generate-ddl=true
spring.jpa.hibernate.ddl.auto=update
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect

telegram.bot.username=
telegram.bot.test_token=
telegram.bot.token=

main.members=
text.main.deny_group_finances_update=Tut mir leid, liebe Herrin, aber um den group Chat nicht zu überflüssen, anwenden sie den Befehl im privaten Chat mit mir.

text.finance.date=Fand es heute statt?
text.finance.false_input=Tut mir leid, ich kann diese Eingabe nicht erkennen. Bitte, versuchen Sie es nochmal.
text.finance.ask_date=Nennen Sie mir bitte die gewünschte Datum im Format ... oder lassen sie es Leer, falls ...
text.finance.who=Wer soll den Bilanz abgleichen?
text.finance.whom=Zu wessen gunsten wurde sie durchgeführt?
text.finance.how_much =Wie groß war die Transaktion? Nennes Sie bitte die Summe in Euro."
text.finance.for_what=Wofür wurde es geleistet?
text.finance.summary
text.finance.check=Der aktuelle Bilanz in € ist wie folgend:
text.finance.cancel=Sind Sie sicher, dass Sie die letze Operation ( ... ) widerrufen wollen?
text.finance.cancel.yes=Es ist erledigt.
text.finance.cancel.no=Keine Sorgen, alles ist unverändert geblieben.
text.finance.exit=Sie haben die Operation abgebrochen.

text.moon_api.failure=Tut mir leid, aber etwas ist mit MoonAPI schiffgelaufen.
text.moon_api.basic_moonapi_responce=Ihr aktueller Digest über den Mond, meine Herrinen:\nMondphase: %s\nStufe: %s\nDer nächste volle Mond in %s Tage\nDer nächste neue Mond in %s Tage
moon_api.x-rapidapi-key=
moon_api.x-rapidapi-host=

text.error=Diese Nachricht soll nie auftauchen. Etwas ist schiffgegangen.
